@model Web.ViewModel.PlaceHomeViewModel
@using Project.Models.Models;
@using Web.Utilities;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MobileLayoutLite.cshtml";
}

@*<section class="hero_in cart_section start_bg_zoom add_bottom_30">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Municipalities</h1>
            </div>

        </div>
    </section>*@


<div class="isotope-wrapper add_top_15">
    <div class="row">
        @if (Model.Places != null)
        {
            foreach (PlaceDto t in Model.Places)
            {
                var url = string.Format("goto/destinationdetails?id={0}&userid={1}", t.Id, Model.UserId);
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="box_grid">
                        <a href="javascript:;" class="btn-navigate-details grid_item" link-value="@url">
                            <figure class="home-widget" style="background-image: url(@(Model.CDNHOST + (t.HomeThumbnail.Replace(".jpg", "_thumb.jpg")))); ">

                                <div class="score"><strong>#@(t.ParentName.ToString().ToUpper())</strong></div>

                                @*<img src="@(Model.CDNHOST + (t.HomeThumbnail.Replace(".jpg", "_thumb.jpg")))" class="img-fluid" alt="" loading="lazy">*@
                                <div class="info">
                                    @if (!String.IsNullOrEmpty(t.Description))
                                    {
                                        <span>@t.Description.TruncateLongString(80)</span>
                                    }
                                    <h3 class="text-white">@t.Title</h3>
                                </div>
                            </figure>
                        </a>
                    </div>
                </div>
                <!-- /grid_item -->
            }
        }
    </div>

</div>



@section scripts{
    <script>

        $(document).ready(function () {

            $(document).on('click', '.btn-navigate-details', function (e) {
                var value = $(this).attr('link-value');
                if (value !== "") {

                    

                    invokeCSCode('type:isURL|value:' + value + '|function:');
                }
            });

        });
    </script>
}
