
@model Web.ViewModel.PlaceHomeViewModel
@using Web.ViewModel;
@using Project.Models;
@using Project.Models.Models;
@using Web.Utilities;
@{
    ViewBag.Title = "Festivals";
    Layout = "";
}

<div class="add_bottom_30">
    <div class="main_title_2 mb-4">
        <span><em></em></span>
        <h3>Festival</h3>
        @*<p>See the latest happenings around the province.</p>*@
    </div>
    <div class="row ">

        @if (Model.PlacesViewModel != null)
        {
            @*<div id="explore_event_carousel" class="owl-carousel owl-theme">*@
        foreach (PlaceDto t in Model.PlacesViewModel.Take(3))
        {
            var showFavorites = false; // Model.UserId > 0;
            var favoritesClass = (t as PlaceViewModel)?.IsLiked ?? false ? "liked" : "";
                <div class="item mb-2" style="width: 100%; background-color: white;">
                    <div class="">
                        <div class="box_grid">
                            <figure>
                                @if (showFavorites)
                                {
                                    <a href="javascript:;" class="wish_bt @favoritesClass" t-userid="@Model.UserId" t-id="@t.Id" onclick="FavoritesToggle(this)"></a>
                                }
                                <a href="javascript:;" onclick="EventNavigate('goto/eventdetails/@t.Id')"><img src="@(Model.CDNHOST + (t.HomeThumbnail.Replace(".jpg", "_thumb.jpg")))" class="img-fluid" alt="" loading="lazy"><div class="read_more"><span>Read more</span></div></a>
                                <small>@t.ParentName</small>
                            </figure>
                            <div class="wrapper">
                                <h3> <a href="javascript:;" onclick="EventNavigate('goto/eventdetails/@t.Id')" />@t.Title</h3>
                                <p class="">
                                    <i class="ti-pin "></i> @(t.ParentName.ToUpper())    <i class="icon-calendar"></i> @t.PublishedDate.ToString("MMMM dd")
                                </p>

                                <p class="text-justify">@t.Description.TruncateLongString(200)</p>

                            </div>

                        </div>
                    </div>
                </div>


            }
            @*</div>*@
        }
        <!-- /box_news -->
        <!-- /box_news -->
    </div>

    <div class="btn_home_align">
       
            <a href="javascript:;" class="btn_1 rounded " onclick="EventNavigate('viewall/events/@Model.UserId')"><strong>View all<i class="arrow_carrot-right t"></i></strong></a>
        
    </div>
    @*<p class="btn_home_align"><a href="/Festival" class="btn_1 rounded">View all</a></p>*@
</div>

<script>

    function EventNavigate(url) {
        if (url !== undefined && url !== "") {
            invokeCSCode('type:isURL|value:' + url + '|function:');
        }
    }

    function FavoritesToggle(button) {
        var id = $(button).attr('t-id');
        var userid = $(button).attr('t-userid');
        var liked = !$(button).hasClass('liked');

        $.ajax({
            type: "POST",
            url: '@Url.Action("ToggleFavorites", "Api")?userid=' + userid + '&id=' + id + '&liked='+liked,
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
            }
        });
    }

</script>
